<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Click Counter</title>
    <script>
        let click = {{counter}};
        function count(){
            document.getElementById('counter').value = ++click;
            click = click
        }
        function reset(){
            document.getElementById('counter').innerHTML = 0;
            click = 0
        } 
    </script>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>