<form action="/save" method="POST">
    <input type="button" id="counter"  name="counter" class="button" onclick="count()" ></input>
    <input type="submit" value="Save" >
</form>
<button id="reset" class="button" onclick="reset()">Reset</button>