<form action="/save" method="POST">
    <input type="number" id="counter" class="button" onclick="count()">{{counter}}</input>
    <button id="reset" class="button" onclick="reset()">Reset</button>
    <input type="submit" value="Save" >
</form>